<div class="container mt-4">
  <div class="row">
    <div class="col-6 offset-md-3">
      <h1>Edit flat</h1>
      <div class="mt-3">
        <%= simple_form_for (@flat) do |f|  %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :picture_url %>
          <%= f.input :description %>
          <%= f.input :price_per_night %>
          <%= f.input :number_of_guests %>
          <%= f.button :submit, class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
